import type { PropsWithChildren } from "react";

import { Outlet, Scripts } from "react-router";

export function Layout({ children }: PropsWithChildren) {
    return (
        <html lang="en">
            <head>
                <meta charSet="utf-8" />
                <meta content="width=device-width, initial-scale=1" name="viewport" />
                <meta content="#000000" name="theme-color" />
                <title>{{repository}}</title>
            </head>
            <body>
                {children}
                <Scripts />
            </body>
        </html>
    );
}

export function HydrateFallback() {
    return <div>Loading...</div>;
}

export default function App() {
    return <Outlet />;
}
